.rating {
  display: inline-block;
}

.starGold {
  color: goldenrod;
}
.star {
  color: var(--light-color);
}

.numeric {
  margin-left: 0.5rem;
  font-family: var(--display-font);
  font-weight: 200;
  font-size: 0.65rem;
  color: goldenrod;
}
